.single-blog {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.single-blog:hover {
    background-color: rgb(248, 248, 248);
    border: 1px dotted red;
}

#blog-list {
    list-style:upper-roman;
}

.sub-container {
    display: flex;
}

.date-container {
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid rgb(0, 255, 238);
    border-radius: 4px;
}

.tags-container {
    display: flex;
    padding: 5px 10px;
    border: 1px dotted rgb(67, 240, 67);
    border-radius: 4px;;
}

.single-tag {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}